[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.0"
requests = "==2.29.0"

[dev-packages]
autopep8 = "==2.0.2"

[requires]
python_version = "3.11"
